<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='./css/style.css'/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel='stylesheet' href='/min/css/style.min.css?s={{s}}' />
  </head>
  
  <body>
    Hello
    	<div id="app"> </div>
  		
  		<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
		<script src="https://fb.me/react-15.0.0.js"></script>
	 	<script src="https://fb.me/react-dom-15.0.0.js"></script>
	 	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
	  	<script src="./js/main.js?s={{s}}"></script>
	  	<script type="text/babel" src="./js/comp.jsx?s={{s}}"></script>
  </body>
</html>
